# Ignore dependencies
node_modules
package-lock.json
yarn.lock

# Build output
dist
build
out

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log

# Coverage reports
coverage

# Misc
*.min.js
*.min.css